body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('../img/background.jpg');
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


#television {
    width: 70vw;
    height: 80vh;
    background-color: rgb(27, 25, 25);
    border: 1.5em solid black;
    border-radius: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#pantalla {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background-position: center;
    box-sizing: content-box;
    position: relative;
}



.mando {
    width: 10em;
    height: 28em;
    margin-left: 5em;
    margin-top: 2em;
    border-radius: 1em;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-sizing: content-box;
    background-color: black;
}


.boton {
    width: 2em;
    height: 1.8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: content-box;
    cursor: pointer;
    border-radius: 0.5em;
    font-weight: bold;
    background-color: rgb(52, 52, 52);

}

#swiched {
    height: 3em;
    width: 8em;
    display: flex;

}

.OFF {
    width: 2em;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(205, 31, 31);

}


.OFFtele {
    img {
        display: none;
    }
}


.ON {
    width: 2em;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(37, 205, 31);

}

.ONtele {

    #ch1,
    #ch2,
    #ch3,
    #ch4,
    #ch5,
    #ch6,
    #ch7,
    #ch8,
    #ch9 {
        display: none;
    }

    #inicio {
        display: block;
        width: 100%;
        height: 100%;
    }
}


#changes {
    height: 6em;
    width: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


#Volumen {
    height: 4em;
    width: 2.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5em;
    background-color: rgb(52, 52, 52);
}

#Canales {
    height: 4em;
    width: 2.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5em;
    background-color: rgb(52, 52, 52);
}

#fila1 {
    height: 2em;
    width: 8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center;

}

#fila2 {
    height: 2em;
    width: 8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center;

}

#fila3 {
    height: 2em;
    width: 8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center;

}

#canal {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 2em;
    margin: 0.5em;
}

#date {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 2em;
    margin: 0.5em;
}

#hora {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 2em;
    margin: 0.5em;
}


.ch1 {

    #static,
    #ch2,
    #ch3,
    #ch4,
    #ch5,
    #ch6,
    #ch7,
    #ch8,
    #ch9 {
        display: none;
    }

    #ch1 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch2 {

    #static,
    #ch1,
    #ch3,
    #ch4,
    #ch5,
    #ch6,
    #ch7,
    #ch8,
    #ch9 {
        display: none;
    }

    #ch2 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch3 {

    #static,
    #ch1,
    #ch2,
    #ch4,
    #ch5,
    #ch6,
    #ch7,
    #ch8,
    #ch9 {
        display: none;
    }

    #ch3 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch4 {

    #static,
    #ch1,
    #ch2,
    #ch3,
    #ch5,
    #ch6,
    #ch7,
    #ch8,
    #ch9 {
        display: none;
    }

    #ch4 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch5 {

    #static,
    #ch1,
    #ch2,
    #ch3,
    #ch4,
    #ch6,
    #ch7,
    #ch8,
    #ch9 {
        display: none;
    }

    #ch5 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch6 {

    #static,
    #ch1,
    #ch2,
    #ch3,
    #ch4,
    #ch5,
    #ch7,
    #ch8,
    #ch9 {
        display: none;
    }

    #ch6 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch7 {

    #static,
    #ch1,
    #ch2,
    #ch3,
    #ch4,
    #ch5,
    #ch6,
    #ch8,
    #ch9 {
        display: none;
    }

    #ch7 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch8 {

    #static,
    #ch1,
    #ch2,
    #ch3,
    #ch4,
    #ch5,
    #ch6,
    #ch7,
    #ch9 {
        display: none;
    }

    #ch8 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ch9 {

    #static,
    #ch1,
    #ch2,
    #ch3,
    #ch4,
    #ch5,
    #ch6,
    #ch7,
    #ch8 {
        display: none;
    }

    #ch9 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 2em
}

.texto {
    z-index: 2;
}